@import url(https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:italic,700italic&display=swap);

@font-face {
  font-family: "KrinkesRegularPERSONAL";
  font-display: swap;
  src: url("../fonts/KrinkesRegularPERSONAL.woff") format("woff"), url("../fonts/KrinkesRegularPERSONAL.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Playfair Display";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Playfair Display";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1289px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
  width: 90px;
  height: 35px;
}

.select__title {
  color: #fff;
  border: 1px solid #fffcfc;
  background-color: #000000;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  padding: 0px 14px 0px 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

._no-webp .select__value:before{
  background: url("../img/icons/select.png") center/100% no-repeat; }

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  background-color: #f2f2f2;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-header {
  padding: 12px 0px;
}

.bar-header > * {
  position: relative;
  z-index: 5;
}

._no-webp .bar-header__phone a{
  background: url(../img/header/call.png) left center/10px 10px no-repeat; }

.bar-header__phone a {
  color: #393939;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 17.29px;
  position: relative;
  padding-left: 29px;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}

.bar-header__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar-header__user-item {
  padding: 0px 34px;
  border-right: 2px solid #393939;
}

.bar-header__user-item:last-child {
  padding-right: 0;
  border-right: none;
}

.bar-header__user-item:first-child {
  padding-right: 21px;
}

.bar-header__user-link {
  color: #393939;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0px 10px 0px;
}

.menu-header__menu {
  margin-top: 10px;
}

.menu-header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__menu-item {
  margin-right: 28px;
}

.menu-header__menu-link {
  color: #000000;
  display: block;
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: italic;
  line-height: 17.69px;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}

.menu-header__menu-link:hover {
  color: #d9bf8f;
}

.menu-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  z-index: 5;
}

.menu-header__logo a {
  color: #000000;
  font-family: "KrinkesRegularPERSONAL";
  font-size: 78px;
  font-weight: 400;
  line-height: 76px;
  text-align: center;
}

.menu-header__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.menu-header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-header__social-item {
  margin-left: 15px;
}

.menu-header__social-item:first-child {
  margin-left: 0;
}

.menu-header__social-item a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #d9bf8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__form {
  margin-left: 58px;
}

.column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #141414;
  padding: 73px 0px;
  border-bottom: 40px solid #000;
}

.menu-footer {
  padding-bottom: 71px;
}

.menu-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer__column {
  margin-bottom: 20px;
}

.menu-footer__title {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 30.01px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.menu-footer__title i {
  font-family: "Playfair Display";
  font-style: italic;
  text-transform: none;
}

.menu-footer__link {
  color: #737373;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.menu-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

.menu-footer__social-item {
  margin-right: 18px;
}

.menu-footer__social-item:last-child {
  margin-right: 0;
}

.menu-footer__social-link {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 50%;
}

.menu-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #484848;
  padding: 3px;
}

.menu-footer__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 20px 15px 22px;
  background: none;
  border: none;
  color: #fff;
  font-family: Lato;
}

.menu-footer__input::-webkit-input-placeholder {
  color: #6a6a6a;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
}

.menu-footer__input::-moz-placeholder {
  color: #6a6a6a;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
}

.menu-footer__input:-ms-input-placeholder {
  color: #6a6a6a;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
}

.menu-footer__input::-ms-input-placeholder {
  color: #6a6a6a;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
}

.menu-footer__input::placeholder {
  color: #6a6a6a;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: left;
}

.menu-footer__btn {
  background-color: #323030;
  border: none;
  color: #ffffff;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 17px;
}

.bottom-footer {
  padding-top: 25px;
  border-top: 2px solid #363636;
  position: relative;
}

.bottom-footer::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #363636;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bottom-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-footer__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #363636;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.bottom-footer__payments-list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__payments-item {
  margin-right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-footer__arrow {
  width: 40px;
  height: 40px;
  background-color: #000000;
  opacity: 0.56;
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
}

.bottom-footer__arrow a {
  color: inherit;
}

.slider {
  width: 100%;
}

._no-webp .slider__item{
  background: url(../img/header/Layer_3.jpg) top center/cover no-repeat; }

.slider__item {
  width: 100%;
  height: 100%;
  padding: 0px 0px 21% 0px;
  max-height: 692px;
}

.slider__content {
  padding: 13% 0px 34px;
  width: 100%;
  text-align: center;
}

.slider__title {
  padding: 30px 26px 30px;
  border: solid 2px #fff;
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.slider__title::after {
  content: "";
  position: absolute;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: solid 2px #fff;
  border-radius: 4px;
  left: -8px;
  top: -8px;
}

.slider__button {
  display: block;
  margin-top: 85px;
}

.slider__btn {
  color: #ffffff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f09d66;
  display: inline;
  padding: 19px 28px 16px 23px;
}

.text-slider__season {
  color: #ffffff;
  font-family: Lato;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.text-slider__sale {
  margin: 27px 0px 25px;
  color: #000000;
  font-family: Lato;
  font-size: 59px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-slider__up-to {
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.text-slider__up-to p {
  margin: 0px 14px;
}

.text-slider__lines {
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-slider .lines-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text-slider .lines-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text-slider__hr-litle {
  width: 34px;
  height: 2px;
  background-color: #ffffff;
}

.text-slider__hr-big {
  width: 60px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 7px;
}

.text-slider__off {
  color: #000000;
  font-family: Lato;
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.dignity {
  padding: 66px 0px;
}

.dignity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dignity__item {
  background-color: #d9bf8f;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33%);
          flex: 1 1 calc(33%);
}

.dignity__item:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: -75px;
  border: 50px solid transparent;
  border-left: 25px solid #d9bf8f;
  z-index: 2;
}

.dignity__item:nth-child(2) {
  background-color: #000000;
  margin: 0 20px;
}

.dignity__item:nth-child(2)::after {
  content: "";
  border: 50px solid transparent;
  border-right: 27px solid white;
  position: absolute;
  right: 0;
  top: 0;
}

.dignity__item:nth-child(2)::before {
  content: "";
  border: 50px solid transparent;
  border-left: 27px solid white;
  position: absolute;
  left: 0;
  top: 0;
}

.dignity__item:last-child::after {
  content: "";
  border: 50px solid transparent;
  border-right: 25px solid #d9bf8f;
  position: absolute;
  left: -75px;
  top: 0;
}

.dignity__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 37px;
}

.dignity__img {
  margin-right: 27px;
}

.dignity__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dignity__title {
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
  white-space: nowrap;
}

.dignity__subtext {
  color: #ffffff;
  font-family: Lato;
  font-weight: 400;
  white-space: nowrap;
  font-size: 14px;
}

.featured {
  padding: 36px 0px;
}

.featured__body {
  margin-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured__column .featured__item:first-child {
  margin-bottom: 15px;
}

.featured__column:nth-child(2) {
  margin: 0px 20px;
}

.featured__column:nth-child(2) .featured__item:first-child {
  margin-bottom: 0;
}

.featured__item {
  position: relative;
  max-width: 100%;
}

.featured__view {
  width: 100%;
}

.featured__hover {
  position: absolute;
  top: 27px;
  left: 23px;
  right: 23px;
  bottom: 32px;
  background: transparent;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.3;
  -o-transition: all ease 0.3;
  transition: all ease 0.3;
}

.featured__hover-body {
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.featured__hover-body > * {
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}

.featured__plus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.featured__vertical {
  width: 3px;
  height: 100%;
  background-color: #d9bf8f;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.featured__horizontally {
  height: 3px;
  width: 100%;
  background-color: #d9bf8f;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.featured__shop {
  background-color: #f0975c;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 14px;
  cursor: pointer;
  position: absolute;
  bottom: 36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.featured__image {
  max-width: 100%;
}

.colection {
  padding-top: 67px;
}

.colection__body {
  width: 100%;
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 18px;
  border: 1px solid #eaeaea;
}

.colection__item {
  position: relative;
  margin-bottom: 20px;
  margin-right: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.colection__item picture {
  width: 100%;
}

.colection__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.colection__item:hover .colection__card {
  border-bottom-color: #f0975c;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}

.colection__img {
  height: 100%;
  width: 100%;
}

.colection__sale {
  position: absolute;
  top: 18px;
  left: 16px;
  background-color: #feab12;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.colection__sale p {
  color: #ffffff;
  font-family: Lato;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}

.colection__card {
  height: 0;
  width: 198px;
  border-bottom: 40px solid #000;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
  cursor: pointer;
}

.colection__card p {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -26px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  white-space: nowrap;
}

.brends {
  padding: 115px 0px;
}

.brends__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 85px;
}

.brends__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brends .slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.brends .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients {
  padding: 20px 0px 0px 0px;
}

.clients__container {
  min-width: 100%;
  padding: 0;
}

.clients__body {
  margin-top: 62px;
  background: #d9bf8f;
  padding: 36px 0px 49px;
  position: relative;
}

.clients__body::after {
  content: "";
  border-left: 210px solid transparent;
  border-right: 210px solid transparent;
  border-top: 40px solid #fff;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.clients__item:first-child .clients__image {
  margin-right: 15px;
}

.clients__item:last-child {
  margin-left: 25px;
}

.clients__item:last-child .clients__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 15px;
}

.clients__item:last-child .clients__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

.clients__image picture {
  width: 100%;
}

.clients__img {
  width: 100%;
}

.clients__description {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: italic;
  line-height: 30.23px;
}

.clients__user {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  line-height: 18.03px;
  margin: 50px 0 22px;
}

.clients__work {
  color: #7f7e7e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 30.05px;
  text-transform: uppercase;
}

.page {
  padding-top: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.title__name {
  display: inline;
  position: relative;
}

.title__name::after {
  content: '';
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #d9bf8f;
  position: absolute;
  bottom: 11px;
  left: -110px;
}

.title__name::before {
  content: '';
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #d9bf8f;
  position: absolute;
  bottom: 11px;
  right: -110px;
}

@media screen and (min-width: 768px) {
  .bar-header__phone a:hover {
    color: #d9bf8f;
  }

  .bar-header__user-link:hover {
    color: #d9bf8f;
  }
}

@media (min-width: 880px) {
  .featured__item:hover .featured__hover-body > .featured__plus {
    overflow: auto;
    visibility: visible;
    pointer-events: all;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .featured__item:hover .featured__hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .featured__item:hover .featured__hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .featured__item:hover .featured__hover-body {
    overflow: auto;
    visibility: visible;
    pointer-events: all;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .featured__item:hover .featured__hover-body > * {
    overflow: auto;
    visibility: visible;
    pointer-events: all;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

@media (max-width: 1299px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 1250px) {
  .clients__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .clients__item {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .clients__item:first-child {
    margin-bottom: 30px;
  }

  .clients__item:last-child {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .clients__item:last-child .clients__image {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .dignity__img {
    margin-right: 14px;
  }

  .dignity__title {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .dignity__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dignity__item:nth-child(2) {
    margin: 0;
  }

  .dignity__item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 20px;
  }

  .dignity__item:nth-child(2) {
    margin-bottom: 20px;
  }

  .dignity__item::after,
  .dignity__item::before {
    display: none;
  }

  .dignity__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .menu-header {
    padding-bottom: 3px;
  }

  .menu-header__menu-item {
    margin-right: 13px;
  }

  .menu-header__logo a {
    font-size: 60px;
    line-height: 30px;
  }

  .menu-header__form {
    margin-left: 20px;
  }
}

@media (max-width: 880px) {
  .featured__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .featured__column:nth-child(2) .featured__item:first-child {
    width: 100%;
    margin-right: 0;
  }

  .featured__column:nth-child(2) {
    margin: 0px 0px 15px 0px;
    width: 100%;
  }

  .featured__column:nth-child(2) img {
    width: 100%;
  }

  .featured__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 15px;
  }

  .featured__item:first-child {
    margin-right: 15px;
  }

  .featured__image img {
    width: 100%;
  }

  .brends {
    padding: 55px 0px 70px;
  }
}

@media (max-width: 850px) {
  .menu-footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer__column {
    margin-right: 25px;
  }

  .menu-footer__column:last-child {
    margin-right: 0;
  }

  .menu-footer__title {
    margin-bottom: 15px;
  }

  .menu-footer__social-list {
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .colection {
    padding-top: 10px;
  }

  .colection__body {
    margin-top: 35px;
  }
}

@media (max-width: 768px) {
  .menu-header {
    padding-top: 15px;
  }

  .menu-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    padding: 125px 20px 20px;
    background: #fff;
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
  }

  .menu-header__menu._active {
    left: 0;
  }

  .menu-header__menu-list {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    overflow-y: auto;
  }

  .menu-header__menu-item {
    margin: 10px 0px 15px 0px;
  }

  .menu-header__menu-link {
    line-height: 35px;
    font-size: 29px;
  }

  .menu-header__social-item a {
    width: 50px;
    height: 50px;
  }

  .menu-header__social-item a picture {
    height: 20px;
  }

  .menu-header__social-item a picture img {
    height: 100%;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    margin-top: 10px;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .slider__item {
    padding: 0px 0px 10% 0px;
  }

  .slider__content {
    padding: 19% 0px 34px;
  }

  .text-slider__season {
    font-size: 16px;
  }

  .text-slider__sale {
    font-size: 45px;
    margin: 20px 0px 11px;
  }

  .dignity {
    padding: 33px 0px;
  }

  .dignity__item {
    margin-bottom: 12px;
  }

  .dignity__item:nth-child(2) {
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) and (max-width: 500px) {
  .icon-menu {
    margin-top: 0;
  }
}

@media (max-width: 760px) {
  .bar-header__user-item:first-child {
    padding: 0px 11px;
  }

  .bar-header__user-item {
    padding: 0px 11px;
  }
}

@media (max-width: 600px) {
  ._no-webp .bar-header__phone a{
    background: url(../img/header/call.png) center center/100% 100% no-repeat; }
  .bar-header__phone a {
    font-size: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
  }

  .bar-header__phone {
    height: 20px;
    width: 20px;
  }

  .bar-header__user-link {
    font-size: 10px;
    line-height: 22px;
  }

  .featured__column:nth-child(2) {
    width: 100%;
  }

  .featured__column:nth-child(2) img {
    width: 100%;
  }

  .brends__body {
    margin-top: 50px;
  }
}

@media (max-width: 580px) {
  .clients__body::after {
    display: none;
  }

  .clients__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .clients__item:last-child .clients__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .clients__item:last-child .clients__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .clients__text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .clients__description {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .clients__user {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px 0px 15px;
  }

  .clients__work {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 560px) {
  .title__name::before {
    right: -60px;
  }

  .title__name::after {
    left: -60px;
  }
}

@media (max-width: 500px) {
  .menu-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-header__menu {
    margin-top: 0;
  }

  .menu-header__logo a {
    font-size: 41px;
    line-height: 20px;
  }

  .menu-header__other {
    margin-top: 0;
  }

  .menu-footer {
    padding-bottom: 30px;
  }

  .brends {
    padding: 30px 0px 45px;
  }
}

@media (max-width: 460px) {
  .dignity__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 25px 20px;
  }
}

@media (max-width: 375px) {
  .bar-header__user-item:first-child {
    padding: 0px 4px;
  }

  .bar-header__user-item {
    padding: 0px 4px;
  }

  .menu-footer__social-link {
    width: 40px;
    height: 40px;
  }

  .dignity__title {
    font-size: 22px;
  }
}

._webp .select__value:before{ background: url(../img/icons/select.webp) center/100% no-repeat; }

._webp .bar-header__phone a{ background: url(../img/header/call.webp) left center/10px 10px no-repeat; }

._webp .slider__item{ background: url(../img/header/Layer_3.webp) top center/cover no-repeat; }

@media (max-width: 600px){

  ._webp .bar-header__phone a{ background: url(../img/header/call.webp) center center/100% 100% no-repeat; }
}